<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=0, initial-scale=1.0">
    <title>Document</title>

    <link href="/styles.css" rel="stylesheet" type="text/css"">
</head>
<body>

    <div class="pageHeader">
        Welcome to <%= title %>
    <div>

    <div class="subHeader">
        Please upload the file below. To get the information, please:

        <ol class="instructions">
            <li> Navigate to instagram on your browser </li>
            <li> Go to settings (click the triple line icon on the bottom left corner --> settings) </li>
            <li> Go to accounts center (click the blue text near the top left corner) </li>
            <li> Click 'Your information and permissions' (on the left panel) </li>
            <li> Click 'Export your information' (now should be visible on the right panel) </li>
            <li> Click 'Create Export' </li>
            <li> Choose the profile or account you want to export your data </li>
            <li> Choose 'Export to device' </li>
            <li> Leave the 'Customize Information' as the default setting</li>
            <li> Choose the date range you want to use </li>
            <li> Set the format as JSON instead of HTML </li>
            <li> And then start the export. It'll prompt you to retype your password </li>
            <li> The export might take a bit (up to 30 mins). Wait for an email from instagram and now install that information. </li>
            <li> While waiting feel free to check this <a href="https://theuselessweb.com/"> link </a></li>
        </ol>
    <div>

    <div class="userPrompt">
        <%= fileUploadPrompt %>
    </div>

    <form method="post" action="upload" enctype="multipart/form-data" class="submissionBody">
    
        <div class="input">
            <label for="Reference File Upload"> Upload File Here </label>
            <input type="file" name="Reference File" id="Reference File Upload">
        </div>

        <div class="input">
            <label for="Submission"> Confirm Submission Here </label>
            <input type='submit' name="File Submission" id="Submission">
        </div>

    </form>

</body>
</html>