@font-face {
    font-family: "Lemon Milk";
    src: url("public/fonts/lemon_milk/LEMONMILK-Light.otf");
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: "Lemon Milk";
    src: url("public/fonts/lemon_milk/LEMONMILK-LightItalic.otf");
    font-weight: lighter;
    font-style: italic;
}

@font-face {
    font-family: "Lemon Milk";
    src: url("public/fonts/lemon_milk/LEMONMILK-Regular.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Lemon Milk";
    src: url("public/fonts/lemon_milk/LEMONMILK-RegularItalic.otf");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Lemon Milk";
    src: url("public/fonts/lemon_milk/LEMONMILK-Bold.otf");
    font-weight: bold;
    font-style: bold;
}

@font-face {
    font-family: "Lemon Milk";
    src: url("public/fonts/lemon_milk/LEMONMILK-BoldItalic.otf");
    font-weight: bold;
    font-style: italic;
}


/* classes are listed below  */


* {
    font-family: "Lemon Milk", sans-serif;
    font-weight: normal;
}


body {

    background-image: url("Grass.png");
    background-repeat: no-repeat; 
    background-position: center -5px; 
    background-size: cover;
    
   
}

.pageHeader {

    font-size: 75px;
    font-weight: bold;
}

.subHeader {

    padding: 5px 0 0 0;

    font-size: 25px;
    font-weight: lighter;
    font-style: italic;

    color: rgb(109, 109, 109);
}

.instructions {

    font-size: 20px;
    color:rgb(139, 139, 139)
}

.submissionBody {

    padding: 40px 0 0 0;

    display: flex;
    flex-direction: column;
}

.submissionBody .input {

    flex: 0 0 20%;

    padding: 5px 0;

    font-size: 15px;
    font-weight: lighter;
    font-style: normal;

    color: black;
}

.description {

    font-size: 18px;
    font-weight: lighter;
    font-style: italic;

    white-space: pre-line;
}

.userPrompt {

    padding: 10px 0 0 0;

    font-size: 15px;
    font-weight: bold;
    font-style: bold;

    color: red;
}

.resultsListsContainer {
    
    /* top right bottom left */
    padding: 100px 0 0 0;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;
    white-space: pre-line;
}

.resultsListsContainer .resultsListCompiling {

    flex: 0 0 32.33%;
    text-align: center;

    border: solid black;
    border-width: 5px 2.5px 5px 2.5px;
}

.resultsListsContainer .resultsListCompiled {

    flex: 0 0 23.5%;
    text-align: center;

    border: solid black;
    border-width: 5px 2.5px 5px 2.5px;
}

.resultsListCompiling .resultsListHeader {

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 20px;
    font-weight: bold;

    align-content: center;

    border-color: solid black;
    border: 3px;
}

.resultsListCompiled .resultsListHeader {

    display: flex;
    align-items: center;
    justify-content: center;

    align-content: center;

    font-size: 15px;
    font-weight: bold;

    border-color: solid black;
    border: 3px;
}

:is(.resultsListCompiling, .resultsListCompiled) .divider {

    border: solid black;
    border-width: 2.5px;
}
